body{
    background-color: #002d39;
}
.background{
    overflow-x: hidden;
    overflow-y: hidden;
}

.background-dot-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 1000px;
}

.background-dot-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 1800px;
}

.background-dot-container{
    margin-left: 2px;
    margin-right: 2px;
}

.background-dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border-style: outset;
    border-color: aliceblue;
    border-width: 3px;
    transition: 3s;
}
.background-dot:hover{
    height: 75px;
    width: 75px;
}

.background-dot: